.view-projects{
    width: 100%;
    transition: max-width 0.2s, margin-bottom 0.6s;
}

.view-projects:hover{
    max-width: 185px;
    margin-bottom: 20px;
}

.projects-section{
    padding: 20px 0px 0px 0px;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.arrow{
    margin-bottom: 90px;
    width: 20px;
    transition: width 0.3s; 
}

.arrow:hover{
    width: 30px;
}

.image-container{
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.image-item{
    width: 100%;
    max-width: 520px;
    /* transition: width 1s 0.2s, max-width 1s 0.2s; */
}

.projects-description:hover{
    display: block;
}

.show{
    display: block;
}

.center-image-container{
    width: 100%;
}

.center-image-item{
    width: 100%;
    max-width: 700px;
    /* transition: background-image 1s linear; */
}

.side-image{
    margin-top: 150px;
    width: 320px;
    width: 100%;
}


@media screen and (max-width: 1026px){
    .image-container{
        max-width: 600px;
        margin: auto;
        width: 100%;
    }
    .image-item{
        max-width: 600px;
        width: 100%;
    }
    .arrow{
        width: 10px;
    }
    .center-image-item{
        max-width: 600px;
    }
}


@media screen and (max-width: 700px) { 
    .projects-description {
        max-width: 300px;
        position: absolute;
        left: 0;
        right: 0;
     }
     .arrow{
        margin-bottom: 0px;
    }
    .arrow:hover{
        width: 21px;
    }
    .center-image-item{
        max-width: 350px;
    }
    .side-image{
        width: 200px;
    }
    .footer{
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0px;
        bottom: 30px;
    }
}


@media screen and (max-width:553px) {
    .center-image-item{
        max-width: 300px;
    }
    .side-image{
        width: 70px;
    }
    .footer{
        bottom: 30px;
    }
}

   /* .projects-container{
        max-width: 450px;
    } */
